Inertia_Final_file (2).json
{
  "name": "Inertia_Final",
  "nodes": [
    {
      "parameters": {
        "content": "Call Gateway that obtains inbound call data from vapi.ai platform.",
        "height": 120,
        "width": 180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        100
      ],
      "id": "cde1ab24-510c-4da6-8d7c-076896c93fba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Generates an entry in Airtable's 'Call Logs' table with conversation specifics",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        100
      ],
      "id": "6556d687-3170-41cb-990e-8898afbb61c6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Validation Check that returns true when legitimate call information is captured from the API endpoint.",
        "height": 120,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        100
      ],
      "id": "258323d3-494d-430d-8c4e-fecf7f44901c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Verifies if the conversation was successfully completed/incomplete according to termination code.",
        "height": 120,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        100
      ],
      "id": "57f56c0c-9609-4c42-a3c4-511eacfc5e8a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Queries Airtable database for prospect entries corresponding to the contact's telephone identifier.",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e5a94d35-ad04-46d8-9731-8e59f84d9e77",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Modifies the prospect status in Airtable to 'Called' following a completed conversation.",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "a2f72e2c-72f8-4160-abf2-051b2e2faeef",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Increases the contact try count for the prospect in Airtable prior to initiating subsequent outreach",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        100
      ],
      "id": "f2a3d72e-6979-4d83-a203-a8adc266849f",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Fetches the lead's profile from Airtable using the contact's telephone identifier as search key.",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        500
      ],
      "id": "4a9d45d4-3ad2-4753-9da2-3b3aadc15ce1",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Accesses the prospect data when contact tries surpass the established limit.",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        600
      ],
      "id": "4835b73b-a8cd-4422-9c37-59711ec3cd6c",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Adjusts the prospect status in Airtable to 'Failed' following maximum allowed outreach efforts.",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        600
      ],
      "id": "14bf4961-b30d-4678-98a7-06c99e90541f",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Populates the explanation field with 'Unreachable' for unsuccessful communication efforts.",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        600
      ],
      "id": "3babe404-b33e-4678-979a-170dec7dc347",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "Changes the lead status in Airtable to 'TBC' from a human representative.",
        "height": 120,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        100
      ],
      "id": "f27d0855-3be2-4cb8-827a-9d9a78663b93",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Verifies if the outreach attempt tally remains under the maximum limit of 2.",
        "height": 120,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        500
      ],
      "id": "84d5509d-f57c-4d4f-a676-dd4de3db412a",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "Introduces workflow delay of one minute before continuing sequence.",
        "height": 120,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        100
      ],
      "id": "bf4876ab-c9b6-4263-a4ed-0367c2836b9c",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "Initiates system API call to commence additional outreach to the identical prospect.",
        "height": 120,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        100
      ],
      "id": "3f37ebcb-11a2-4247-b63c-d5ba2805f39c",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "Dispatches a concise email notification to the prospect's email containing information about upcoming follow-up.",
        "height": 120,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        600
      ],
      "id": "532d19e7-47ab-420e-905b-d7f256f15f48",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "Delivers a brief notification email to the prospect's contact address informing them of upcoming follow-up.",
        "height": 120,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        -200
      ],
      "id": "43d21bb5-b329-42ea-a3f1-bd7ca2f02397",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32155059-a744-47e1-879c-f93968fe8a8a",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        240
      ],
      "id": "7dc4fb32-1bd9-42f9-8cd3-2f9897af7578",
      "name": "Event = conversation-completion-summary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb91210a-c14a-432b-ba6d-3c859d5972a4",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "customer-busy",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "bcce32ec-9fc1-4f42-b352-69ed90b8b7a6",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "customer-ended-call",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "87640d60-4973-4256-8e37-e8c7fc3bf1a8",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "customer-did-not-answer",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "7d0759f2-7c19-45be-bbb9-09db3da6eacc",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "assistant-error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "7b24dc3c-be9b-4b7a-aa71-83eb0b13b071",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "silence-timed-out",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "8717e004-1033-4a34-b827-d16c2d147501",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "phone-call-provider-closed-websocket",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9104cca1-09aa-4781-9400-3fa998134595",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "pipeline-no-available-llm-model",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "37a69a1f-b6d7-42ce-b20e-d3a8dbc6df92",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "assistant-not-found",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "52f427ca-adbc-4364-a1c0-81c3b23d26a3",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "unknown-error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fad61fe3-b7e5-4bca-be09-f22f89bdeb4a",
              "leftValue": "={{ $('Event = conversation-completion-summary').item.json.body.message.analysis.summary }}",
              "rightValue": "voicemail",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        240
      ],
      "id": "df2f4845-46eb-4fa7-a334-6cfe57381dc8",
      "name": "Status = Conversation Completed"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields['Email'] }}",
        "subject": "Thank You for Our Recent Call - Interia Design Follow-up",
        "emailType": "text",
        "message": "=Dear {{ $json.fields['FirstName'] }},\n\nThank you for contacting us about Interia's interior design services. We had a wonderful conversation and appreciated learning about your needs. Our team will be following up with you soon to continue our discussion about your project.\nWarm regards,\nThe Interia Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        460,
        -60
      ],
      "id": "19fdb336-6e24-4f62-b35d-f18c9d66c9bb",
      "name": "Dispatch Notification to Contact #1",
      "webhookId": "10741732-9677-4794-9f1a-62c8d566b9dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "2m2aUKEOqEXPDe0z",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbltmY52U431DJI26",
          "mode": "list",
          "cachedResultName": "Leads Table",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbltmY52U431DJI26"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Attempt": "={{ ($json.Attempt) + 1 }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In-Progress",
                  "value": "In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        460,
        240
      ],
      "id": "e6e35f16-4ffd-4aa6-97f8-f0dde1ddbfd3",
      "name": "Increase Contact Attempt Counter",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        240
      ],
      "id": "489cdc09-297d-41a0-b0cc-ba192c28cd38",
      "name": "Pause for 60 Seconds",
      "webhookId": "0c1d989a-b8de-4488-86c5-281db988f5b7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer f942d800-635f-4418-8d20-943493573140"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"147971d4-06d9-4e60-b3b5-dc03e43be039\",\n  \"customer\": {\n    \"name\": \"{{ $json.fields.FirstName }}\",\n    \"number\": \"{{ $json.fields.Mobile }}\"\n\n  },\n  \"phoneNumberId\": \"dd105112-c88d-407c-8139-11f1883c98db\"\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        240
      ],
      "id": "df5aa9e7-e03f-499b-8c04-ec6c9656097d",
      "name": "Follow-up Contact"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "911aeadf-22c0-4420-ac48-02743afb390b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        240
      ],
      "id": "441e1cf0-e893-46d7-a732-10df405d9cb9",
      "name": "Webhook1",
      "webhookId": "911aeadf-22c0-4420-ac48-02743afb390b"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbllZXk35eGnIBjVl",
          "mode": "list",
          "cachedResultName": "Call Records",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbllZXk35eGnIBjVl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "milliseconds": "={{ $json.body.message.durationMs }}",
            "cost(stt)": "={{ $json.body.message.costBreakdown.stt }}",
            "cost(llm)": "={{ $json.body.message.costBreakdown.llm }}",
            "cost(tts)": "={{ $json.body.message.costBreakdown.tts }}",
            "cost(total)": "={{ $json.body.message.costBreakdown.total }}",
            "started": "={{ $json.body.message.startedAt }}",
            "ended": "={{ $json.body.message.endedAt }}",
            "ended reason": "={{ $json.body.message.endedReason }}",
            "transcript": "={{ $json.body.message.transcript }}",
            "recording": "={{ $json.body.message.recordingUrl }}",
            "customernumber": "={{ $json.body.message.call.customer.number }}",
            "type": "={{ $json.body.message.call.type }}",
            "id": "={{ $json.body.message.call.id }}",
            "callproviderID": "={{ $json.body.message.call.phoneCallProviderId }}",
            "cost(twilio)": 0,
            "phoneNumberId": "={{$json.body.message.call.phoneNumberId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "callproviderID",
              "displayName": "callproviderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phoneNumberId",
              "displayName": "phoneNumberId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customernumber",
              "displayName": "customernumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started",
              "displayName": "started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ended",
              "displayName": "ended",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "milliseconds",
              "displayName": "milliseconds",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(stt)",
              "displayName": "cost(stt)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(llm)",
              "displayName": "cost(llm)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(tts)",
              "displayName": "cost(tts)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(total)",
              "displayName": "cost(total)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(twilio)",
              "displayName": "cost(twilio)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(totals)",
              "displayName": "cost(totals)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ended reason",
              "displayName": "ended reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recording",
              "displayName": "recording",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -420,
        240
      ],
      "id": "5d399bb1-14d2-42ab-8519-3ae94325f5f8",
      "name": "Insert Information Into Call Records Table",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbltmY52U431DJI26",
          "mode": "list",
          "cachedResultName": "Leads Table",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbltmY52U431DJI26"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "Called",
            "Summary": "={{ $('Event = conversation-completion-summary').item.json.body.message.analysis.summary }}",
            "Date Time": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In-Progress",
                  "value": "In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Voicemail",
                  "value": "Voicemail"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "#Success",
                  "value": "#Success"
                },
                {
                  "name": "#1",
                  "value": "#1"
                },
                {
                  "name": "#2",
                  "value": "#2"
                },
                {
                  "name": "#3",
                  "value": "#3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final Call",
              "displayName": "Final Call",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        140
      ],
      "id": "5952a527-972b-4b81-b3ce-35c7e65521d2",
      "name": "Mark Status as Called",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbltmY52U431DJI26",
          "mode": "list",
          "cachedResultName": "Leads Table",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbltmY52U431DJI26"
        },
        "filterByFormula": "=({Mobile} = '{{ $('Event = conversation-completion-summary').item.json.body.message.call.customer.number }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        20,
        140
      ],
      "id": "d92feb77-7ab7-4eea-898e-8d5d234076dc",
      "name": "Retrieve Lead #1",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbltmY52U431DJI26",
          "mode": "list",
          "cachedResultName": "Leads Table",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbltmY52U431DJI26"
        },
        "filterByFormula": "=({Mobile} = '{{ $('Event = conversation-completion-summary').item.json.body.message.call.customer.number }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        20,
        340
      ],
      "id": "70e2c041-db09-4370-8dac-a65b0bd065bd",
      "name": "Retrieve Lead #2",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbltmY52U431DJI26",
          "mode": "list",
          "cachedResultName": "Leads Table",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbltmY52U431DJI26"
        },
        "filterByFormula": "=({Mobile} = '{{ $('Event = conversation-completion-summary').item.json.body.message.call.customer.number }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        460,
        440
      ],
      "id": "26b25afe-3dee-4583-8348-36608262a594",
      "name": "Retrieve Lead #3",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23f6dcb0-0cd3-4d53-995e-7bf6f3e981de",
              "leftValue": "={{ $json.Attempt }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        340
      ],
      "id": "2e76faa4-15f6-4cb3-8221-c6800ffb2d3f",
      "name": "Contact attempt Below Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbltmY52U431DJI26",
          "mode": "list",
          "cachedResultName": "Leads Table",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbltmY52U431DJI26"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Pause for 60 Seconds').item.json.id }}",
            "Status": "TBC",
            "Date Time": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In-Progress",
                  "value": "In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        240
      ],
      "id": "d54c6b6b-929c-4aec-8b48-1ff451cc248e",
      "name": "Change Status To TBC",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbltmY52U431DJI26",
          "mode": "list",
          "cachedResultName": "Leads Table",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbltmY52U431DJI26"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "Failed"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In-Progress",
                  "value": "In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        680,
        440
      ],
      "id": "8fa9816b-f434-466b-b147-9ed042f50e33",
      "name": "Mark Status as Failed",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appBIcu40ITuicWaX",
          "mode": "list",
          "cachedResultName": "Interior Design",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX"
        },
        "table": {
          "__rl": true,
          "value": "tbltmY52U431DJI26",
          "mode": "list",
          "cachedResultName": "Leads Table",
          "cachedResultUrl": "https://airtable.com/appBIcu40ITuicWaX/tbltmY52U431DJI26"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Reason": "Unreachable"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In-Progress",
                  "value": "In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        900,
        440
      ],
      "id": "103fd9f1-96ca-44ff-9f58-28a855d39143",
      "name": "Flag as Unreachable",
      "credentials": {
        "airtableTokenApi": {
          "id": "oL4vxi1F5zXHgKOt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields['Email'] }}",
        "subject": "Regarding Your Interior Design Inquiry - Interia",
        "emailType": "text",
        "message": "=Dear {{ $json.fields['FirstName'] }},\n\nThank you for your interest in Interia's interior design services. We've been trying to reach you to discuss your project requirements but haven't been able to connect.\nPlease feel free to call us back at your convenience or let us know a suitable time when we can reach you.\n\nWarm regards,\nThe Interia Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        440
      ],
      "id": "19617894-e4e7-41bd-9400-56926c6feb3a",
      "name": "Dispatch Notification to Contact ",
      "webhookId": "10741732-9677-4794-9f1a-62c8d566b9dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "2m2aUKEOqEXPDe0z",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Event = conversation-completion-summary": {
      "main": [
        [
          {
            "node": "Insert Information Into Call Records Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status = Conversation Completed": {
      "main": [
        [
          {
            "node": "Retrieve Lead #1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retrieve Lead #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increase Contact Attempt Counter": {
      "main": [
        [
          {
            "node": "Pause for 60 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause for 60 Seconds": {
      "main": [
        [
          {
            "node": "Follow-up Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up Contact": {
      "main": [
        [
          {
            "node": "Change Status To TBC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Event = conversation-completion-summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Information Into Call Records Table": {
      "main": [
        [
          {
            "node": "Status = Conversation Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Status as Called": {
      "main": [
        [
          {
            "node": "Dispatch Notification to Contact #1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Lead #1": {
      "main": [
        [
          {
            "node": "Mark Status as Called",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Lead #2": {
      "main": [
        [
          {
            "node": "Contact attempt Below Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Lead #3": {
      "main": [
        [
          {
            "node": "Mark Status as Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact attempt Below Limit": {
      "main": [
        [
          {
            "node": "Increase Contact Attempt Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retrieve Lead #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Status as Failed": {
      "main": [
        [
          {
            "node": "Flag as Unreachable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag as Unreachable": {
      "main": [
        [
          {
            "node": "Dispatch Notification to Contact ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "045dc2ac-8c51-4431-8ee8-7dddb486fa65",
  "meta": {
    "instanceId": "ea2c1f0ec6524ebcfefe6597e514b1508b308ed8061ea1f698647a51cbd4c941"
  },
  "id": "SKKb3IrtLDbyMhDW",
  "tags": []
}